<div id="index-product" v-cloak>
    <div class="container pt-5 pb-5">
        <div>
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a class="btn btn-dark" href="products/new">Add</a>
                </div>
            </div>
            <h1>Products</h1>
        </div>
        <table class="table mt-4">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="product in products">
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.name }}</td>
                <td class="text-right">
                    <a class="btn btn-outline-info" :href="'/generate-qa?product=' + product.id">
                        Generate QA
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
